Используй пакетный менеджер uv

Прежде чем вносить поправки в код, всегда сначала объясни, что ты собираешься сделать.
Всегда спрашивай, хочу ли я внести изменения в код.
Никогда сам не вноси изменения в config.py.

Мы создаем приложение для перевода html файла с английского на русский.
Входные и выходные данные лежат в папке CONTENT.

Для перевода используем chatGPT.
Для работы с chatGPT используем библиотеку langchain_openai.
К openai ВСЕГДА обращаемся через прокси.

Логика работы приложения должна быть следующей:
считываем исходный файл построчно,
если строка содержит span с текстовым контентом, который надо перевести, то отправляем его в chatGPT,
переведенную строку сохраняем в результирующий файл.

Необходимо учитывать моменты:
1. Файлы могут быть большого размера.
2. Связь с api может быть нестабильной, поэтому необходимо предусмотреть
возможность обрыва соединения и продолжения работы с того места, где был обрыв.








